<% include partials/header %>


<% if (errors){ %>
  <% errors.forEach(function(error){%>
  <%=error.msg %>
<% })}; %>


    <h1>HELLO <%= title %></h1>
    <p><% users.forEach(function(user){ %>
      <p><%= user.first_name %> <%= user.last_name %></p>
    <%}) %></p>

    <form action="/users/add" method="post">
      <label>First Name</label>
      <input type="text" name="first_name">
      <br>
      <label>Last Name</label>
      <input type="text" name="last_name">
      <br>
      <label>Email</label>
      <input type="text" name="email">
      <br>
      <input type="submit" name="" value="Submit">

    </form>



<% include partials/footer %>
